{% extends 'parts/base.twig' %}

{% block body %}
<h1>Register Form</h1>
    {% if message is not null %}
        <div class="alert alert-danger" role="alert" >
            {{ message }}
        </div>
    {% endif %}
    <form method="post" action="/register-post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" value="{{ form ? form.username }}">
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp" value="{{ form ? form.email }}">
            <small id="emailHelp" class="form-text text-muted">We'll never share yuor email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" >
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm password</label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" >
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}